.game-card {
  height: 100vh;
}

.card-body{
  border-radius: 20px;
  padding: 30px;
  background: #ecf0f3;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

.card {
  background: #d4d9df;
  border: 0;
  font-family: 'Share Tech Mono', monospace;
}
 


/* кнопки */
/* https://codepen.io/soulwire/embed/neJZgM?height=300&theme-id=light&default-tab=result&slug-hash=neJZgM&user=soulwire&name=cp_embed_31#result-box
*/

.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toggle:before {
  box-shadow: 0 0 17.5px 8.75px #fff;
  border-radius: 118.3px;
  background: #fff;
  position: absolute;
  margin-left: -50.4px;
  margin-top: -50.4px;
  opacity: 0.2;
  content: "";
  height: 100.8px;
  width: 100.8px;
  left: 50%;
  top: 50%;
}

.toggle {  
  position: relative;
  height: 140px;
  width: 140px;
  margin: 4px;
}

.container {
  text-align: center;
  position: absolute;
  margin-top: -80px;
  width: 100%;
 /* top: 50%;*/
}

.toggle input:hover ~ .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle .button {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 96.32px;
  position: absolute;
  background: #ccd0d4;
  margin-left: -48.16px;
  margin-top: -48.16px;
  display: block;
  height: 96.32px;
  width: 96.32px;
  left: 50%;
  top: 50%;
}

.toggle input:hover ~ .label {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.4);
}

.toggle .label {
  transition: color 300ms ease-out;
  text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0, 0, 0, 0.8), 1px 1px 4px #fff;
  line-height: 139px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 42px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
}


.btn-success {
  color: #fff;
  background-color: #7abd89;
  border-color: #7abd89;
}

.btn-success:hover {
  color: #7abd89;
  background-color: #fff;
  border-color: #7abd89;
}

.btn-success:focus, .btn-success.focus {
  color: #7abd89;
  background-color: #fff;
  border-color: #7abd89;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

